input[type="text"] {
    color: #fff;
    font-size: 1.4rem;
    background: none;
    border: none;
    float: left;
    width: 200px;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    outline: none;

  @include input-placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
}

label {
  font-size: 1.2rem;
  float: left;
  clear: left;
  margin-right: 15px;
  color: #fff;
  text-shadow:
    -1px -1px 1px #111,
    2px 2px 1px #363636;
}

hr {
  clear: both;
}

.addBtn {
  margin: 30px 0;
}
