// character
$icon_character_url: "../images/themes/evil/icons/character.png";
$character_icon: image-url($icon_character_url, false, false);

// inventory
$icon_inventory_url: "../images/themes/evil/icons/inventory.png";
$inventory_icon: image-url($icon_inventory_url, false, false);

// skills
$icon_skills_url: "../images/themes/evil/icons/skills.png";
$skills_icon: image-url($icon_skills_url, false, false);


.navigation {
  position: fixed;
  top: 40px;
  right: 3px;

  .activate {
    margin-right: 23px;
  }

  .deactivate {
    margin-right: 8px;
  }

}

.menu-icon {
  display: block;
  width: image-width($icon_character_url);
  height: image-height($icon_character_url);
  background: $character_icon;
  cursor: pointer;
  margin-bottom: 40px;
  float: right;
  clear: right;
}

.character-icon {
  margin-right: 23px;
}

.inventory-icon {
  width: image-width($icon_inventory_url);
  height: image-height($icon_inventory_url);
  background: $inventory-icon;
  margin-right: 18px;
}

.skills-icon {
  width: image-width($icon_skills_url);
  height: image-height($icon_skills_url);
  background: $skills-icon;
  margin-right: 8px;
}
