
@import
  "compass/reset",
  "compass/css3",
  "compass/typography";

@import
  'menu_icon',
  'animate',
  'forms';

$base-font-size: 16px;

$book_width: 620px;
$footer_url: "../images/themes/evil/600px/footer_bg.png";
$header_url: "../images/themes/evil/600px/header_bg.jpg";
$footer_image: image-url($footer_url, false, false);
$header_image: image-url($header_url, false, false);


.openList {
  @include animate(fadeInRight);
}

.closeList {
  @include animate(fadeOutLeft);
  display: none;
  visibility: hidden;
}

.background_images {
  z-index: 8;
  display: block;
  float: right;
}

.book {
  width: $book_width;
  display: block;
  position: relative;
  float: right;
  z-index: 3;

  @include background(
    image-url("../images/themes/evil/600px/background.jpg", false, false) repeat-y top right
  );

  .content {
    min-height: 768px;
    width: 63%;
    position: relative;
    z-index: 9;
    display: block;
    float: left;
    margin-right: 140px;
    margin-left: 90px;
    padding: 60px 10px;
    margin-top: - image-height($header_url);
    margin-bottom: - image-height($footer_url);
    font-size: 1.4rem;
    color: #fff;
  }

  .header {
    @extend .background_images;
    top:0;
    height: image-height($header_url);
    width: image-width($header_url);
    @include background(
      $header_image no-repeat top right
    );
  }
  .footer {
    @extend .background_images;
    clear:both;
    height: image-height($footer_url);
    width: image-width($footer_url);
    z-index: 9;
    @include background(
      $footer_image no-repeat bottom right
    );
  }
}
